[tool.poetry]
name = "citation-date"
version = "0.0.5"
description = "Regex date formula and decoder - Philippine Supreme Court Decisions"
authors = ["Marcelino G. Veloso III <mars@veloso.one>"]

[tool.poetry.dependencies]
python = "^3.11"
python-dateutil = "^2.8"
types-python-dateutil = "^2.8.19"

[tool.poetry.dev-dependencies]
pytest = "^7.2"
pytest-cov = "^2.12.1"
pre-commit = "^2.21"

[tool.pytest]
minversion = "7.2"
addopts = "-ra -q --cov=citation_date tests/"
testpaths = ["tests"]

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 79
include_trailing_comma = 'True'

[tool.black]
line-length = 79
include = '.pyi?$'
exclude = '''
/(
    .git
    | .hg
    | .mypy_cache
    | .tox
    | .venv
    | _build
    | buck-out
    | build
    | dist
)/
'''

[build-system]
requires = ["poetry-core>=1.2.1"]
build-backend = "poetry.core.masonry.api"
